# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Entorno virtual - NUNCA subir esto
venv/
env/
.venv/

# IDEs
.vscode/settings.json
.idea/

# OS Windows
Thumbs.db
desktop.ini
.DS_Store

# Logs
*.log
*.tmp
